# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm